﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("images/headerbg.jpg");
    height: 400px;
    background-size: cover;
    text-align: center;
}

.logo {
    color: #fff;
    font-family: 'Yesteryear', cursive;
    font-size: 40px;
}

.toggle {
    position: fixed;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: #F2AC32 url(images/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
    opacity: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.nav-menu {
    display: flex;
    list-style: none;
    color: #fff;
    padding-top: 10px;
}

.nav-menu li {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    transition: color 0.3s ease-in-out;
}

.nav-menu li a:hover {
    color: #F2AC32;
}

.header-title-1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    font-size: 45px;
    margin-bottom: 7px;
    padding-top: 75px;
}

.header-title-2 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 55px;
    letter-spacing: 6px;
    margin-bottom: 25px;
}

.header-cta-button {
    color: white;
    background-color: #F2AC32;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.header-cta-button:hover {
    background-color: #d4962a;
}

.search {
    margin-left: 20px;
    margin-right: 20px;
}

.my-bag {
    font-size: 18px;
}


/*Discover Section*/

.discover-section {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 70px;
}

.food-border {
    border: 2px solid #F2AC32;
    position: relative;
    /*to make position absolute work we need to put relative to the parent*/
}

.food-overlay {
    padding: 70px 10px 0 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
}

.food-item {
    height: 390px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.food-item p {
    color: dimgray;
    font-size: 16px;
    margin-bottom: 20px;
}

.food-item a {
    font-size: 16px;
    text-decoration: none;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
}

.food-1 {
    background-image: url("images/foodiesfeed.com_spinach-pomegranate-and-chicken-salad1.jpg");
    background-size: cover;
    margin-top: -30px;
    box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.75);
    /*from box shadow css generator*/
}

.food-2 {
    background-image: url("images/foodiesfeed.com_chicken-breast-steak-with-broccoli.jpg");
    background-size: cover;
    box-shadow: -3px 3px 23px 0px rgba(0, 0, 0, 0.75);
}

.discover-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
}

.discover-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/*Specialities Section*/

.sepcialities-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("images/mccain-fries-and-appetizers.jpg");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.sepcialities-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.sepcialities-h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: white;
    font-size: 50px;
}

.specialities-h3 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.sepcialities-row {
    display: flex;
    justify-content: center;
}

.sepcialities-col {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.image1,
.image2,
.image3 {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    cursor: pointer;
}

.image1 {
    background-image: url("images/images.jpg");
    background-size: cover;
}

.image1:hover .image-overlay,
.image2:hover .image-overlay,
.image3:hover .image-overlay {
    opacity: 1;
}

.image2 {
    background-image: url("images/images2.jpg");
    background-size: cover;
}

.image3 {
    background-image: url("images/2.jpg");
    background-size: cover;
}

.image-overlay {
    opacity: 0;
    background-color: rgba(242, 172, 50, 0.5);
    width: 100%;
    height: 100%;
    padding: 9px;
    transition: all 0.4s ease-in-out;
}

.image-overlay-border {
    border: 2px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
}


/*Special Menu Section*/

.special-menu-section {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
}

.special-menu-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.special-menu-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.special-menu-h2 {
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
}

.special-menu-h3 {
    width: 100%;
    font-family: 'Rochester', cursive;
    letter-spacing: 2px;
    font-size: 22px;
}

.separator,
.separator-orange {
    width: 40px;
    border-bottom: 2px solid #fff;
    margin: 15px auto;
    /*left and right center (auto)*/
}

.special-menu-h4 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    width: 100%;
}

.special-menu-p {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: 30px 20px;
    width: 100%;
}

.special-menu-col {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.col-large {
    width: 50%;
    height: 400px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.col-large-1,
.col-large-3 {
    background-color: #F2AC32;
    color: white;
    justify-content: center;
}

.fa-ice-cream,
.fa-utensils {
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
}

.col-large-2 {
    background-image: url("images/easiest-ever-fruit-ice-cream-ghk-1532637317.jpg");
    background-size: cover;
    background-position: center;
}

.col-large-4 {
    background-image: url("images/photo-1565299624946-b28f40a0ae38.jpg");
    background-size: cover;
}

.fa-hamburger {
    color: #F2AC32;
    font-size: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.col-small {
    width: 50%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.col-small-1 {
    background-color: #fff;
}

.col-small-2 {
    background-image: url("images/1382541357316.jpeg");
    background-size: cover;
    background-position: center;
}

.col-small-3 {
    background-image: url("images/foodiesfeed.com_homemade-chicken-broth-with-vegetables.jpg");
    background-size: cover;
    background-position: center;
}

.col-small-h3 {
    font-family: 'Rochester', cursive;
    font-size: 22px;
    letter-spacing: 2px;
    width: 100%;
    color: #F2AC32;
}

.col-small-h4,
.col-small-h5 {
    width: 100%;
    color: black;
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
}

.col-small-h5 {
    color: #F2AC32;
    margin-top: 8px;
}

.separator-orange {
    border-bottom: 2px solid #F2AC32;
}


/*Our Menu Section*/

.our-menu-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/top-view-fast-food-with-copy-space_23-2148273099.jpg");
    background-size: cover;
    text-align: center;
    padding: 100px 50px;
}

.our-menu-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.our-menu-h2 {
    color: #fff;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
}

.food-container {
    color: #fff;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.our-menu-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-menu-col {
    width: 320px;
    margin: 30px;
}

.food-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
}

.food-price {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #F2AC32;
}

.food-ingredients {
    font-weight: 400;
    font-size: 14px;
}

.our-menu-button {
    border: 1px solid white;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    padding: 10px 25px;
    transition: all 0.3s ease-in-out;
}

.our-menu-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 10px 15px;
    width: 150px;
}


/*Booking Table Section*/

.booking-table-section {
    text-align: center;
    padding: 80px;
    background-color: #f0f0f0;
}

.booking-table-h1 {
    font-family: 'Rochester', cursive;
    color: #F2AC32;
    margin-bottom: 15px;
    font-size: 40px;
}

.booking-table-h2 {
    color: #000;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 50px;
}

.booking-table-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.booking-div {
    background-color: #fff;
    margin: 30px 15px;
    font-family: 'Oswald', sans-serif;
    width: 200px;
    display: flex;
    align-items: center;
}

.booking-icon {
    padding: 15px 20px;
    border-right: 1px solid #f0f0f0;
}

.booking-data {
    padding-left: 20px;
}

.booking-cta {
    background-color: #F2AC32;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}


/*Footer Section*/

footer {
    padding: 40px 0;
    padding-bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/food-background.jpg");
    background-position: center;
    background-size: cover;
    color: #f0f0f0;
}

.footer-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-col {
    margin: 30px 60px;
}

.footer-title {
    margin-bottom: 30px;
    color: #F2AC32;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.footer-text {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-email {
    padding: 10px 20px;
    width: 230px;
    height: 45px;
    margin-bottom: 20px;
}

.footer-subscribe {
    width: 230px;
    height: 45px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color: #F2AC32;
    margin-top: 10px;
    /* to active width and height*/
    display: inline-block;
    text-align: center;
    /* to center vertically */
    line-height: 45px;
}

.copyright {
    padding: 25px;
    color: #f0f0f0;
    font-size: 14px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid rgba(240, 240, 240, 0.425);
}

.copyright-name {
    color: #F2AC32;
    text-transform: capitalize;
}

@media (max-width:767px) {
    .toggle {
        opacity: 1;
    }
    .nav-menu {
        opacity: 0;
    }
    .nav-menu.active {
        opacity: 1;
        float: none;
        display: block;
    }
    nav.active {
        display: block;
    }
    .header-title-1 {
        font-size: 30px;
    }
    .header-title-2 {
        font-size: 40px;
    }
    .food-item {
        margin: 15px;
    }
    .sepcialities-row {
        display: inline-block;
    }
    .special-menu-col {
        width: 100%;
    }
    .footer-row {
        display: inline-block;
    }
    footer {
        text-align: center;
    }
}